button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

.counter-container {
    margin-top: 2em;
}

h2 {
    margin: 0;
}